<section class="diploma">
    <div class="container">
        <div class="diploma-title">СЕРТИФИКАТ</div>
        <div class="diploma-header">LEARN PYTHON</div>
        <div class="diploma-text">Настоящий сертификат удостоверяет, что</div>
        <div class="diploma-block">
            <div class="diploma-block__name"></div>
            <div class="diploma-block__surname"></div>
        </div>
        <div class="diploma-text">успешно прошёл(-ла) курс по изучению Python с нуля.</div>
        <div class="diploma-text">Выдан:</div>
        <div class="diploma-signatures">
            <div class="diploma-signatures__item">
                <div class="diploma-signatures__item-signature"></div>
                <div class="diploma-signatures__item-text">И.Лебедев</div>
            </div>
            <div class="diploma-signatures__item">
                <div class="diploma-signatures__item-signature"></div>
                <div class="diploma-signatures__item-text">М.Корнеев</div>
            </div>
            <div class="diploma-signatures__item">
                <div class="diploma-signatures__item-signature"></div>
                <div class="diploma-signatures__item-text">В.Филонов</div>
            </div>
        </div>
    </div>
</section>